@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

h1, h2, h3, h4, h5, h6{
    color: #555555;
    font-family: 'Courier Prime', serif;
}

body{
    padding-top: 60px;
    background-color: #ffccff;
    font-family: 'Courier Prime', serif;

}

.jumbotron {
    background-image: url(images/datingbanner.jpg);
    background-size: cover;
    padding-top: 5%;
    height: 100%;
    padding-bottom: 17%;
    background-color: #ffccff;
}

.btn{
    color: #333333;
    background-color: #eeeeee;
    border-color: #333333;
    margin-top: 5px;
}

.btn:hover{
    background-color: #ff0099;
    border-color: #ff0099;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #ff0099; !important;
    color: #FFFFFF; !important;
    font-family: 'Courier Prime', serif; !important;
}

.navbar {
    background-color: #ffccff;
    color: #FFFFFF; !important;
    font-family: 'Courier Prime', serif; !important;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: #ffccff;
    border-color: #ff0099;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #555555;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ff0099;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ff0099;
}

.grid {
    border: 2px solid #ff0099;
    empty-cells: show;
    background-color: #ffccff;
    color: #555555;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3fr);
    width: 5fr;
    margin: 2%;
}

.simple-text h1,
.simple-text h2,
.simple-text h3 {
    color: #ff0099;
}

.parag1 {
    margin: 0%;
    padding: 10%;
    background-color: #eeeeee;
    color: #333333;
    text-align: left;
}

.parag2 {
    margin: 0%;
    padding: 10%;
    background-color: #ff0099;
    color: #333333;
    text-align: center;
}

a{
    color: #ff0099;
}
a:hover {
    color: #ffffff;
    background-color: #ff0099;
    text-decoration: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.display-3{
    font-size: 5em;
}

.video-container{
    width: 100%;
    height: auto;
}

/*  ----------- ICONS --------------  */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
#profileList {
    border: #333333;
    width: 0.5px;
}