
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>

<div th:insert="fragments/header :: header"></div>

<div th:insert="fragments/menu :: menu"></div>

<body>

<div th:insert="fragments/jumbotron :: jumbotron">
</div>

<div class="container">

        <!-- Indsæt indhold her -->
        <h1>LOGIN</h1>
        <h2>Indtast din Email og kodeord</h2>

        <div class="row">
            <div class="col-md-8">

                <form action="/correctlogin"  method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" id="pEmail" name="pEmail" placeholder="Email..."><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="pKodeord" name="pKodeord" placeholder="Kodeord..."><br>
                    </div>
                    <button class="btn btn-primary" type="submit">Log ind</button>
                </form>
            </div>
        </div>
    <br><br>
        <div class="errorModel" id="errorModel" style="display:none">
            <h2>Error</h2>
        </div>

        <!--
        <script>
            function openForm() {
                var T = document.getElementById("errorModel")
                T.style.display = "block";
                var check = 1;
            }
        </script>
        -->

        <hr>
    <form id="toMainPage" action="/" method="get">
        <button class="btn btn-primary" type="submit"><-- Tilbage</button>
    </form>

</div> <!-- /container -->
<br>
<hr>
</body>
<div th:insert="fragments/footer :: footer"></div>

</html>
