
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>

<div th:insert="fragments/header :: header"></div>

<div th:insert="fragments/menu :: menu"></div>

<body>

<div th:insert="fragments/jumbotron :: jumbotron">
</div>

<div class="container">

        <!-- Indsæt indhold her -->
        <h2>Indtast dit brugernavn og kodeord</h2>

        <div class="row">
            <div class="col-md-8">
                <form action="/main"  method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <!--- <label for="email">Brugernavn</label> --->
                        <input type="text" id="pName" name="pName" placeholder="brugernavn..."><br>
                    </div>
                    <div class="form-group">
                        <!--- <label for="message">Kodeord</label> --->
                        <input type="text" id="pKodeord" name="pKodeord" placeholder="Kodeord..."><br>
                    </div>
                    <button class="btn btn-primary" type="submit">Log ind</button>
                </form>
            </div>
        </div>

    <br><br>

    <form id="toMainPage" action="/" method="get">
        <button class="btn btn-primary" type="submit"><-- Tilbage</button>
    </form>

</div> <!-- /container -->
<br>
<hr>
</body>
<div th:insert="fragments/footer :: footer"></div>

</html>
