
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/menu :: menu"></div>

    <title>KEA Dating - Main!</title>
    <meta charset="UTF-8">
</head>

<body>

<div th:insert="fragments/jumbotron :: jumbotron">
</div>

<div class="container" id="main">

    <!-- Indsæt indhold her -->
    <div class="row">

        <div class="col-md-6">

            <div id="form-container">
                <h2>Søg profiler efter køn</h2>
                <form action="/searchGender" method="post" enctype="multipart/form-data">
                    <!-- <label for="searchgender"></label> -->
                    <div class="form-group">
                        <input type="radio" name="pGender" value="pGenderMand"> Mand
                        <input type="radio" name="pGender" value="pGenderKvinde"> Kvinde<br>
                    </div>
                    <button class="btn btn-primary" type="submit">Søg nu</button>
                </form>

            </div>

            <br><br>
            <h2>Profiler</h2>

            <tr th:each="profile : ${profile}">
                <td th:text="${profile.name}" /><br>
                <td th:text="${profile.gender}" /><br>
                <td th:text="${profile.description}" /><br><br>
            </tr>

            <br><br>

            <form id="toMainPage" action="/" method="get">
                <button class="btn btn-primary" type="submit"><-- Tilbage</button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
<br>
<hr>
</body>
<div th:insert="fragments/footer :: footer"></div>

</html>