<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Min Profil</title>
    <meta charset="UTF-8">
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menuloggedin :: menuloggedin"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

    <div class="container" id="main">

        <div class="row">

            <div class="col-lg-6">

                <div class="col" id="profileID">
                <h2>Min profil</h2>
                    <div>
                        <tr th:each="profile : ${profileID}">
                            <td th:text="${profile.name}" /><br>
                            <td th:text="${profile.kodeord}" /><br>
                            <td th:text="${profile.gender}" /><br>
                            <td th:text="${profile.email}" /><br>
                            <td th:text="${profile.description}" /><br><br>
                        </tr>
                    </div>
                </div>

                <div id="edit-container">
                    <h2>Ret profil</h2>
                    <form id="editProfile" action="/editprofile" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="editProfile"></label>
                            <input type="radio" name="eGender" value="Mand"> Mand
                            <input type="radio" name="eGender" value="Kvinde"> Kvinde<br>
                            <input type="text" id="eName" name="eName" placeholder="Ændre navn..."><br>
                            <input type="text" id="eEmail" name="eEmail" placeholder="Ændre mailadresse..."><br>
                            <input type="text" id="eDescription" name="eDescription" placeholder="Ændre beskrivelse..."><br><br>
                        </div>
                        <button class="btn btn-primary" type="submit">Gem profil</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


<div th:insert="fragments/footer :: footer"></div>
</body>
</html>