<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Profil</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menuloggedin :: menuloggedin"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<div class="row">
    <div class="col">

        <!--    <div th:insert="fragments/jumbotron :: jumbotron"></div>-->

        <div class="col" id="profileList">
            <div th:each="allProfiles : ${profileList}">
                <div>
                    <h4 th:text="${allProfiles.getId()}"></h4>
                    <h4 th:text="${allProfiles.getName()}"></h4>
                    <h4 th:text="${allProfiles.getKodeord()}"></h4>
                    <h4 th:text="${allProfiles.getGender()}"></h4>
                    <h4 th:text="${allProfiles.getEmail()}"></h4>
                    <h4 th:text="${allProfiles.getDescription()}"></h4>
                    <h4 th:text="${allProfiles.getAdmin()}"></h4>
                </div>
                <form action="/addtokandidat" method="post">
                    <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="addToKandidat">Tilføj til favoritter</button>
                </form>

                <!--
                <div id="edit-container">
                    <h2>Ret profil</h2>
                    <div id="editProfile" action="/editprofile" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="editProfile"></label>
                            <input type="radio" name="eGender" value="Mand"> Mand
                            <input type="radio" name="eGender" value="Kvinde"> Kvinde<br>
                            <input type="int" id="eId" name="eId" placeholder="Vælg bruger ID..."><br>
                            <input type="text" id="eName" name="eName" placeholder="Ændre navn..."><br>
                            <input type="text" id="eEmail" name="eEmail" placeholder="Ændre mailadresse..."><br>
                            <input type="text" id="eDescription" name="eDescription" placeholder="Ændre beskrivelse..."><br><br>
                        </div>
                        <button class="btn btn-primary" type="submit">Gem profil</button>
                        </form>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>