<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="form-container">
        <form id="searchProfiles" action="/searchprofiles" method="get">
            <label for="searchProfiles"></label>
            <input type="text" id="sGender" name="sGender" placeholder="Køn..."><br><br>
            <input type="submit" id="submit-form" value="Søg nu!!">
        </form>
    </div>

    <div class="col" id="profileList">
        <h2>Profiles</h2>
        <div th:each="allProfiles : ${profile}">
            <h th:text="${allProfiles}" />
            <img th:attr="src=${allProfiles.getPicture()}", alt="${allProfiles}"/>
        </div>
    </div>

    <form id="toMainPage" action="/" method="get">
        <input type="submit" id="mainpage-form" value="tilbage">
    </form>

</body>
</html>